extends ../node_modules/jade-bootstrap/_bootstrap

head
	title= title
block body
	+navbar("Colenso Project", "dropdown_menu")
		+nav_item("/", "") Home
	.container
		.row
			.col-lg-6
				form(action="/search", method="get")
					+tab-list(["Text","XQuery"],0)
						+tab("Text", "active")
							.input-group
								input.form-control(type="text", name="searchString", placeholder=searchString)
								span.input-group-btn
									button.btn.btn-default(type="submit") Search
						+tab("XQuery")
							.input-group
								input.form-control(type="text", name="searchMarkup", placeholder=searchMarkup)
								span.input-group-btn
									button.btn.btn-default(type="submit") Search
	.container
		h1= title
		.container
			if results != undefined && results.length > 0
				ul
					each doc in results
						li
							a(href='findxml?id='+doc.id) #{doc.title}
							p #{doc.author}, #{doc.id}
							br
			else
				+alert-info("No results found")